{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "out/bin/mistral-yaql-linter-linux",
            "name": "mistral-yaql-linter-linux",
            "label": "mistral-yaql-linter-linux"
          },
          {
            "path": "out/bin/mistral-yaql-linter-macos",
            "name": "mistral-yaql-linter-macos",
            "label": "mistral-yaql-linter-macos"
          },
          {
            "path": "out/bin/mistral-yaql-linter-win.exe",
            "name": "mistral-yaql-linter-win.exe",
            "label": "mistral-yaql-linter-win.exe"
          }
        ]
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ],
  "preset": "angular",
  "dryRun": false
}
