.vscode/**/*.json
.vscode-test/**
src/**
.gitignore
.yarnrc
test/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.releaserc
package-lock.json
.vscodeignore
.github/**
jest.config.js
out/test/**
out/bin/**
